    </main>
</body>

<footer>
    <p>
        This website is a fan creation. No copyright material was used in the making of this website. 
        All copyright material displayed by users is property of their respective owners. The website administrators do not
        make any money off of this website, nor do they claim ownership of anything displayed within the website.
    </p>
</footer>

</html>