    </main>
</body>

<footer>
    <p>
        This website is a fan creation. No copyright material was used in the making of this website. 
        All copyright material displayed by users is property of their respective owners. The website administrators do not
        make any money off of this website, nor do they claim ownership of anything displayed within the website.
        HammerSpace endeavours to stay out of Intellectual Property infigngement, so please don't post any direct quotes or stats from any game.
        If in doubt about IP infigngement, please take a look at Games Workshop's policy: 
        <a href="https://www.games-workshop.com/en-AU/Intellectual-Property-Guidelines">Linked here.</a>
    </p>
</footer>

</html>