<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/portfolios">Portfolios</a>
    |
    <a href="/users">Users</a>
    |
    <a href="/">Log-In</a>
  </nav>

  <h2>HammerSpace</h2>
  <!-- both titles need to be soft-coded -->
  
  <!-- <h4>quotes to go here, maybe</h4> -->



