<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/portfolios">Portfolios</a>
    |
    <a href="/portfolios/new">New</a>
    |
    <a href="/users">Users</a>
    |
    <% if (user) { %>
      <a href="/logout">Log-Out</a>
    <% } else { %>
      <a href="/auth/google" class="login">Log-In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
    

  </nav>

  <h2>HammerSpace</h2>
  <!-- both titles need to be soft-coded -->
  
  <!-- <h4>quotes to go here, maybe</h4> -->



