<%- include('./partials/header') %>

<!-- <h1>HammerSpace Landing Zone</h1> -->

<h3><span class="bg">
  HammerSpace is a poket dimension where creators can display their own portfolios of miniatures. Creators and appreciators can view
  the collected works and leave comments or advice.
</span></h3>
<br>
<a class="text-black" href="/portfolios">
  <button class="btn btn-lg btn-info"><h2>Portfolios</h2></button>
</a>
<br><br>
<p><span class="bg">
  Please respect the artists who have put in so much effort into their miniatures and keep hateful opinions to yourself.
  At HammerSpace we recognise, and gather here, to respect the effort and creativity that has been put into the miniatures on
  display. If you have purchased something pre-built and pre-painted please do not post it here as there are other websites for that.
</span></p>

<%- include('./partials/footer') %>




  <!-- HammerSpace is a pocket dimension dedicated to the displying of miniatures from any and all tabletop wargames or role-playing games. -->
