<%- include('./partials/header') %>

<h1>Users</h1>

<table id="user-list">
  <thead>
    <tr>
      <th>User Avatar</th>
      <th>User Name</th>
      <th>Portfolios</th>
      <th>Cover Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Aang</td>
        <td>the Last Air Bender</td>
        <td>Portfolio 1</td>
        <td>Image example</td>
    </tr>
  </tbody>
</table>


<%- include('./partials/footer') %>
