<%- include('../partials/header') %>



<section>
    <h3>Add Army to Portfolio</h3>

    <form class="row g-3" id="new-army" method="POST" enctype="multipart/form-data" action="/armies">
        <div class="col-md-4">
            <label class="form-label">Army name</label>
              <input class="form-control" type="text" name="armyName">
        </div>
        <div class="col-md-4">
            <label class="form-label">Genre</label>
              <input class="form-control" type="text" name="genre">
        </div>
        <div class="col-md-4">
            <label class="form-label">Leader</label>
                <input class="form-control" type="text" name="leader">
        </div>
        <div class="col-12">
            <label class="form-label">Description</label>
              <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="col-md-4">
            <label class="form-label">Status</label>
                <select class="form-control" name="status">
                <option value="Finished">Finished</option>
                <option value="WIP">WIP</option>
                <option value="Old">Old</option>
                </select>
        </div>
        <div class="col-md-4">
            <label class="form-label">Portfolio</label>
            <select class="form-control" name="portfolio">
              <% user.portfolios.forEach(p => { %>
                  <option value="<%= p._id %>"><%= p.pfName %></option>
              <% }) %>
            </select>
        </div>
        <div class="col-md-4">
            <div>
                <label class="form-label">Cover Image</label>
                    <input class="form-control" type="file" name="image">
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-success">Add Army</button>      
        </div>
    </form>
  </section>
  

<%- include('../partials/footer') %>