<%- include('../partials/header') %>

<h1>New</h1>
<h2>Create a detail page for a new; Portfolio, Army, Squad or Unit/Individual</h2>

<!-- !!!??? HELP: need to make a table that takes multiple inputs and assigns all new fields to a new data page(?), but assigns new 
    data to existing data/models. ex: Have created portfolio and army; creating squad is current task, filled out pf and army forms 
    with same name (drop down box [select] if exists). Want to make new squad and assign it to existing pf and army not make new pf 
    and army. Use String.Split(', ') maybe? 
    
    See new-avd.ejs for larger table that was an attempt at the above.
                        notes on connectivity
    !!!??? -->



<form id="new-portfolio" action="/portfolios" method="POST">
    <label>Portfolio Name</label>
    <input type="text" name="pfName">
    <label>Genre</label>
    <input type="text" name="genre">
    <label>Armies</label>      
    <input type="text" name="armies">
    <input type="submit">
</form>

<!-- armies in above form returns a string but page is currently looking for a schema -->

<%- include('../partials/footer') %>
