<%- include('../partials/header') %>

<!-- <h1>New Portfolio</h1> -->
<h2>Create a detail page for a new Portfolio</h2>

<!-- !!!??? HELP: need to make a table that takes multiple inputs and assigns all new fields to a new data page(?), but assigns new 
    data to existing data/models. ex: Have created portfolio and army; creating squad is current task, filled out pf and army forms 
    with same name (drop down box [select] if exists). Want to make new squad and assign it to existing pf and army not make new pf 
    and army. Use String.Split(', ') maybe? 
    
    See new-avd.ejs for larger table that was an attempt at the above.
                        notes on connectivity
    !!!??? -->



<form id="new-portfolio" action="/portfolios" method="POST">
    <label>Portfolio Name</label>
    <input type="text" name="pfName">
    <label>Genre</label>
    <input type="text" name="genre">
    <!-- <label>Armies</label>      
    <input type="text" name="armies"> -->
    <!-- Armies will display from an array referenced into the pf model -->
    <input type="submit">
</form>

<br>
<h3>Create a New Army on the Army creation Page</h3>
<br>
<a href="/armies/new">Army Creator</a>
<br>
<h3>Create a New Squad on the Squad creation Page</h3>
<br>
<a href="/squads/new">Squad Creator</a>

<%- include('../partials/footer') %>
