<%- include('../partials/header') %>


<h2>Create a New Portfolio</h2>
<br>

<form class="row g-3" id="new-portfolio" action="/portfolios" enctype="multipart/form-data" method="POST">
    <div class="col-md-6">
        <label class="form-label">Portfolio Name</label>
            <input class="form-control" type="text" name="pfName">
    </div>
    <div class="col-md-6">
        <label class="form-label">Genre</label>
            <input class="form-control" type="text" name="genre">
    </div>
    <div class="col-md-6">
        <div>
            <label class="form-label">Cover Image</label>
                <input class="form-control" type="file" name="image">
        </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-lg btn-success" type="submit">Create Portfolio</button>
    </div>
</form>

<br><br>

<section>
    <br>
    <div class="border">
        <h3>Create a New Army on the Army creation Page</h3>
            <br>
        <button class="btn btn-lg btn-warning">
            <a class="text-center text-primary" href="/armies/new">Army Creator</a>
        </button>
            <br><br>
    </div>
    <br>
    <div class="border">
        <h3>Create a New Squad on the Squad creation Page</h3>
            <br>
        <button class="btn btn-lg btn-warning">
            <a class="text-center text-primary" href="/squads/new">Squad Creator</a>
        </button>
            <br><br>
    </div>
    <br>
    <div class="border">
        <h3>Create a New Unit on the Unit creation Page</h3>
            <br>
        <button class="btn btn-lg btn-warning">
            <a class="text-center text-primary" href="/units/new">Unit Creator</a>
        </button>
            <br><br>
    </div>
</section>

<%- include('../partials/footer') %>
